@import url("https://fonts.googleapis.com/com/css2?family=Poppins:wght@400;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: url(background.jpg);
}
.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.terms{
    margin-top: 0.2rem;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{
    color: rgb(17, 107, 143);
    text-decoration: none;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}
.member a{
    color: rgb(17, 107, 143);
    text-decoration: none;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(taltech.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #2E8B57;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    color: #fff;
}
.content p{
    margin: 40px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: transparent;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #2E8B57;
    text-align: center;
    width: 200px;
}
button:hover{
    border: none;
}
.homepagebutton{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}
.homepagebutton a{
    color: #fff;
    text-decoration: none;
}
.content1{
    width: 100%;
    position: absolute;
    top: 300px;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content1 h1{
    font-size: 70px;
    margin-top: 80px;
    color: #fff;
}
.content1 p{
    margin: 40px auto;
    font-weight: 100;
    line-height: 25px;
}
.shopbanner{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.shopnavbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shopnavbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.shopnavbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.shopnavbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #2E8B57;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.shopnavbar ul li:hover::after{
    width: 100%;
}
.contentshopinginfo{
    width: 100%;
    position: absolute;
    top: 400px;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.contentshopinginfo h1{
    font-size: 70px;
    margin-top: 80px;
    color: #fff;
}
.contentshopinginfo p{
    margin: 40px auto;
    font-weight: 100;
    line-height: 25px;
}
.contentcontact{
    width: 100%;
    position: absolute;
    top: 400px;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.contentcontact h1{
    font-size: 70px;
    margin-top: 80px;
    color: #fff;
}
.contentcontact p{
    margin: 40px auto;
    font-weight: 100;
    line-height: 25px;
}
.content2 h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content2{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: #fff;
}
.content2:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}
.content2 img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.content2 p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
.content2 h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
.content2 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
.content2 li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
.checked{
    color: #ff9f43
}
.content2 button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy-1{
    background: #2E8B57;
}
#cart-container{
    overflow-x: auto;
}
#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}
#cart-container table thead{
    font-weight: 700;
}
#cart-container table thead td{
    background: #2E8B57;
    color: #fff;
    border: none;
    padding: 6px 0;
}
#cart-container table td{
    border: 1px solid #b6b3b3;
    text-align: center;
}
#cart-container table td:nth-child(1){
    width: 100px;
}
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3){
    width: 200px;
}
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
    width: 170px;
}
#cart-container table tbody img{
    width: 120px;
    height: 80px;
    object-fit: cover;
}
#cart-container table tbody i{
    color: #8d8c89;
}
#cart-bottom .coupon>div,
#cart-bottom .total>div{
    border: 1px solid #b6b3b3;
}
#cart-bottom .coupon h5,
#cart-bottom .total h5{
    background: #2E8B57;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-weight: 700;
}
#cart-bottom .coupon p,
#cart-bottom .coupon input{
    padding: 0 12px;
}
#cart-bottom .coupon input{
    height: 44px;
}
#cart-bottom .coupon input,
#cart-bottom .coupon button{
    margin: 0 0 28px 12px;
}
#cart-bottom .total div>div{
    padding: 0 12px;
}
#cart-bottom .total h6{
    color: #2a2a2a;
}
.second-hr{
    background: b8b7b3;
    width: 100%;
    height: 1px;
}
#cart-bottom .total div>button{
    margin: 0 12px 20px 0;
    display: flex;
    justify-content: flex-end;
}